
/* * Start Global Rules */
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color:#111 ;
  --main-color-alt: #1787e0;

}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* * End Global Rules */
/* start header  */
/* start nav  */

  .navbar ul li a {
    position: relative;
    font-size: 17px;
    font-weight: 500;
}

.navbar ul .active {
    position: relative;
}

.navbar ul .active::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    top: 90%;
    left: 2px;
    background-color: white;
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    top: 90%;
    left: 5px;
    background-color: white;
    transition: 0.3s;
    opacity: 0;
}

.navbar {
  border-color: #380404;
  transform: scale();
}

.navbar ul li a:hover::before {
    width: 70%;
    background-color: white;
    opacity: 1;
}

  nav a{
    font-weight: 600;
  }
  .navbar{
    background-color: rgba(67, 67, 67, 0.4);
    transform: scale();
}
/* Ens nav  */

header {
  background-image: url(Images/bg.jpg);
  background-size: cover;
  background-position: center center;
}
header .big{
  font-weight: 900;
  font-size: 4em;
}
header .mov{
  font-weight: 700;
  font-size: 50px;


}
header .big1{
  font-weight: 300;
  font-size: 50px;


}
.header h1 h2 {
  font-size: 100px;
}
.header-layer {
  background-color: rgba(0, 0, 0, 0.6);
}

.layer {
  background-color: white;
  z-index: 9999;
  position: absolute;
  top: 100%;
  right: 5px;
  left: 5px;
  bottom: 5px;
  opacity: 0;
  transition: top 0.75s ease, opacity 0.3s ease;
}
/* End header  */
/* start About */
.about .image{
  position: relative;
}
.about .image img{
width: 100%;
}
.about .image::after{
  content: "";
  position: absolute;
  background-image: url(Images/dots.png);
  background-repeat: repeat;
  width: 70%;
  height: 70%;
  left: 20;
  bottom: 20  ;
  z-index: -1;
}
.about .item {
  width: 100%;
  height: 5%;
  background-color: black;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
}
/* .loading1 {
  width: 85%;
  height: 100%;
  transition: 3s 1s width ease-in;
} */
.loading1 {
  width: 95%;
  height: 100%;
  
  animation-name: teet;
      animation-duration: 7s ;
}
@keyframes teet
  {
     0% { width: 20%;}
     100% { width: 95%;}
  }

/* .loading2 {
  width: 80%;
  height: 100%;
} */
.loading2 {
  width: 80%;
  height: 100%;
  animation-name: test;
  animation-duration: 7s ;
}
@keyframes test
  {
     0% { width: 20%;}
     100% { width: 80%;}
  }
   
/* .loading3 {
  width: 90%;
  height: 100%;
} */
.loading3 {
  width: 90%;
  height: 100%;
  animation-name: teot;
      animation-duration: 7s ;
}
@keyframes teot
  {
     0% { width: 20%;}
     100% { width: 90%;}
   
  }
.icons {
  font-size: 20px;
}
.btn1 {
  background-color: black;
  color: #fff;
}
.card:hover .layer {
  top: 5px;
  opacity: 90%;
}
.icon i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #111;
  background: #111;
  color: #eee;
}
.icon:hover i {
  background-color: white;
  color: black;
}
/* End About */
/* start SERVICES */

.SERVICES {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding: 50px;
}

.SERVICES .item .icon i {
  font-size: 30px;
  margin: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #f4f4f4;
  border-radius: 50%;
  transition: all 0.5s;
  border: none;
  color: black;
}
.block {
  padding: 0 20px;
}
.SERVICES .item:hover i {
  background-color: #343434;
  color: white;
}
.address h2 {
  font-weight: 900;
}
.SERVICES .item h4 {
  font-weight: 900;
  font-size: 20px;
}
.SERVICES .item p {
  font-weight: 500;
  font-size: 16px;
  color: #748182;
}

/* End SERVICES */
/* start portfolio */
.portfolio{
  padding-top: 100px;
  padding-bottom: 50px;
}
/* End portfolio */
.nav-link {
  position: relative;
}
.nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  background: #111;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
  transition: all 0.4s;
}
.tab-line:hover .nav-link::before {
  width: 100%;
}
.section-head {
  margin-bottom: 80px;
  text-align: center;
}
.section-head h3 {
  font-weight: 900;
  font-size: 40px;
  position: relative;
  display: inline-block;
  z-index: 4;
}
.section-head h3:after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(Images/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
.carousel-indicators .circle-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d6d6d6;
}
/* start Clients */
.Clients h3 {
font-weight: 900;
font-size: 40px;
}
.Clients p {

color: #748182;
font-weight: 500;
}
/* start Clients */ 
/* start blog  */
.blog{
  padding-top: 100px;
  padding-bottom: 50px;
}
.blog img:hover {
  transform: scale(1.2);
 transition: 1s;
}
.blog .item{
  position: relative;
}
.blog .bor-bo::before {
content: '';
position: absolute;
background-color: black;
width: 15%;
height: 2px ;
bottom: 30px ;

}
/* End blog  */

.CONTACT {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: white;
}
.CONTACT .address h2 {
  position: relative;
  z-index: 555;
}
.CONTACT .address h2::after {
  content: "";
  width: 23%;
  height: 30px;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  right: 38%;
  z-index: -1;
}
.CONTACT .item i {
  font-size: 20px;
  background-color: #f4f4f4;
  border-radius: 50%;
  width: 17%;
}
@media screen and (max-width: 992px) {
  .CONTACT .item i {
    font-size: 16px;
    background-color: #ccc;
    border-radius: 50%;
    width: 10%;
  }
}
@media screen and (max-width: 600px) {
  .CONTACT .item i {
    font-size: 16px;
    background-color: #ccc;
    border-radius: 50%;
    width: 15%;
  }
}
.CONTACT .item p {
  font-size: 16px;
  color: #748182;
}
.CONTACT .item h3 {
  font-size: 22px;
}
.CONTACT .item:hover i {
  background-color: #343434;
  color: white;
  transition: 1s;
}

.CONTACT .one-inp {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: none;
}

.CONTACT .two-inp {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: none;
}

.CONTACT .four-inp {
  padding: 30px 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: none;
  font-family: inherit;
}
.CONTACT .btn-one {
  margin-top: 20px;
  background-color: var(--main-color);
  color: white;
  transition: 1px;
  -webkit-transition: 1px;
  -moz-transition: 1px;
  -ms-transition: 1px;
  -o-transition: 1px;
}
.CONTACT .btn-one:hover {
  background-color: white;
  color: var(--main-color);
}
footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #748182;
}
